.place-card__description {
  box-sizing: border-box;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}