.form__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  transition: border-color .3s ease-in-out;
}

.form__input:focus {
  outline: none;
  border-color: rgb(0 0 0 / 80%);
}

.form__input:hover {
  border-color: rgb(0 0 0 / 80%);
}