.profile__avatar {
  position: relative;
  display: block;
  font-size: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__avatar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #0000;
  background-image: url(../../../images/editPen.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.profile__avatar:hover::before{
  opacity: 1;
  background-color: #0009;
}