.button_type_add-like {
  padding: 0 12px;
  background-color: #fff;
  background-image: url(../../../images/like-icon.svg);
  background-position: 50% 0;
  background-size: 22px;
}

.button_type_add-like:hover {
  opacity: .5;
}